<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/css/main.css" />
  </head>
  <body>
    <div><a href="/">Home</a></div>
    
    <center>
    <br> 
    <h1><span style='font-weight: bold;'>tongy.io</span></h1>
    </center>
    <br>
    <center>
    <h2><span style='font-weight: 600;'>{{title}}</span></h2>
    <img src="static/css/images/bg.jpg" alt="tongy.io" style="width:130px;height:100px;">
	</center>
    <br><br>
     </intro></p></div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    {% block content %}
     {% endblock %}
    
  </body>
</html>
