<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/css/main.css" />
  </head>
  <body>
    <div><a href="/">Home</a></div>
    
    <center>
    <br> 
    <h1><span style='font-weight: bold;'>tongy.io</span></h1>
    </center>
    <br>
    <center>
    <h2><span style='font-weight: 600;'>{{title}}</span></h2>
    <img src="static/css/images/bg.jpg" alt="tongy.io" style="width:130px;height:100px;">
	</center>
    <br>
    <div class = "box"><p><intro>
    <center><span margin=  '30px 0 0 0';> Blockchain is a hot topic right now, brought in to the spotlight by Bitcoin
     - the 'revolutionary' cryptocurrency. On the back of the success of this volatile asset, blockchain technology has proven
     in many other use cases. From smart contracts to logistics and health records to voting systems, disruptive prototypes
     have been developed across a multitude of different industries. As this software starts to be deployed in to production 
     environments, it is important to at least be able to explain the mechanics of blockchain and its benefits at a high level.
     For the more technically inclined, it is very accessible to take this knowledge to the next level and implement it in code.
     <br>
     <br>
     This tutorial is designed to give a high level introduction using a feedback 
     board that is underpinned by blockchain technology. It will walk you through the main features of the blockchain 
     algorithm, before explaining how these properties translate into the desirable advantages over traditional data storage
     systems, such as ledgers.
     <br>
     <br>
     <br>
     <sub>
     <span style='font-weight: bold; font-size: 30'>
     The Blockchain
     </span>
     </sub>
     </span></center>
     
     </intro></p></div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    {% block content %}
     {% endblock %}
    
  </body>
</html>